{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
   
  </style>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{% url 'show' %}">All Products</a></li>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'logoutaccount' %}"><span class="glyphicon glyphicon-user"></span>&emsp;  {{ user.username }}  </a></li>
          {% if user.is_authenticated %}
              <li>
                <a class="nav-link" href="{% url 'logoutaccount' %}">Logout</a>
              </li>
          {% else %}
              <li>
                <a class="nav-link" href="{% url 'loginaccount' %}">Login</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <form method="post" class=" post-form">
    {% csrf_token %}
    <div class="container">
      <div class="form-group row">
        <label class="col-sm-5 col-form-label"></label>  
        <div class="col-sm-4">
          <h3>Enter Mobile Details</h3>
        </div>
      </div>
          {{ form.as_p }}
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </div>
    </div>
  </form>
</body>
</html>